{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  <nav class="nav__list">
  <h3 class="nav__title" style="padding-left: 0;"></h3>
  <ul>
    <li><a href="/"><span class="nav__sub-title">About me</span></a></li>
    <li><a href="/research/"><span class="nav__sub-title">Research</span></a></li>
    <li><a href="/publications/"><span class="nav__sub-title">Publications</span></a></li>
    %<li><a href="/talks/"><span class="nav__sub-title">Talks</span></a></li>
    %<li><a href="/teaching/"><span class="nav__sub-title">Teaching</span></a></li>
    <li><a href="/cv/"><span class="nav__sub-title">CV</span></a></li>
  </ul>
</nav>
  </div>
{% endif %}
